body {
    text-align: center;
}

/* gives responsivness to home page */
.home-main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px auto;
}

/* home image properties */
.home-image{
    margin-top: 40px;
    width: 40%;
    transform: rotate(3deg);
    box-shadow: 7px 10px 11px 5px rgb(82, 82, 82);
}

.home-text{
    margin: auto 40px;
    font-size: 1.5em;
}

/* changes image size on tablet and mobile devices */
@media (max-width: 768px){
    .home-image{
        width: 80%;
    }
}
