body{
    font-family: 'Encode Sans', sans-serif;
}

nav{
    text-align: center;
    background-color: #0f3057;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Fjalla One', sans-serif;
}

nav a{
    text-decoration: none;
    color: white;
    margin: 20px; 
    display: inline-block;
    transition: 0.2s;
}

nav a:hover{
    font-size: 1.3em;
}

@media screen and (max-width: 576px){
    nav{
        flex-direction: column;
        align-items: center;
        height: 300px;
        flex-basis: 50%;
    }
    nav a{
        text-decoration: none;
        color: white;
        display: inline-block;
    }
}


/* 
color palette 1
#0f3057, #00587a, #008891, #e7e7de

color palette2
#1E3D58, #057DCD, #43B0F1, #E8EEF1

klarna grey
#f2f2f1
*/