img{
    height: 50px;
    width: 50px;
    transition: transform .8s ease-in-out;
    transition: 0.8s;
}

img:hover{
    transform: rotate(360deg);
    width: 80px;
    height: 80px;
}

.container{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.link-div{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

h2{
    margin-top: 100px;
    text-align: center;
}
